@font-face {
  font-family: 'NanumPenScript';
  src: url('/NanumPenScript-Regular.ttf');
}

html,
body {
  margin: 0;
  width: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
}

#root {
  background-color: #fff;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0 0 29px 0;
}

body * {
  font-family: 'NanumPenScript';
}
